[submodule "function/CatOpt"]
	path = function/CatOpt
	url = https://github.com/SizheQiu/CatOpt.git
[submodule "function/UniKP"]
	path = function/UniKP
	url = https://github.com/Luo-SynBioLab/UniKP
[submodule "external_models/PETML"]
	path = external_models/PETML
	url = https://github.com/jafetgado/PETML.git
